.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

@media (min-width: 768px) {
  .App-logo {
    height: 5vmin;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-title {
  color: #61dafb;
  font-size: 6vmin;
  margin: 1rem 0 0 0;
}

@media (min-width: 768px) {
  .App-title {
    font-size: 3vmin;
  }
}

.App-section {
  padding: 2rem;
}

@media (min-width: 768px) {
  .App-section {
    display: grid;
    padding: 2rem 4rem;
    grid-gap: 4rem;
    grid-template-columns: 2fr 1fr;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
