.Cart {
  border-top: 1px solid #282c34;
}

@media (min-width: 768px) {
  .Cart {
    margin-top: 4.6rem;
    text-align: left;
  }  
}

.Cart__button[disabled] {
  background-color: #dedede;
}

.Cart__button {
  border-color: #282c34;
  color: #282c34;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 768px) {
  .Cart__button {
    width: auto;
  }
}

@media (min-width: 768px) {
  .Cart__title {
    margin-top: 2rem;
  }
}

.Cart__item {
  background-color: #ededed;
  margin-bottom: 2rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .Cart__item {
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .Cart__item {
    display: grid;
    grid-template:
    'name  remove' auto
    'price remove' auto
    'total remove' auto
    /4fr   1fr;
  }
}

@media (min-width: 768px) {
  .ProductItem__remove {
    align-self: start;
  }
}
