.ProductItem {
  background-color: #ededed;
  text-align: left;
}

@media (min-width: 768px) {
  .ProductItem {
    text-align: left;
  }
}

.ProductItem__button {
  border: 0;
  background-color: #282c34;
  border-radius: .3rem;
  color: #fff;
  cursor: pointer;
  padding: .5rem 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .ProductItem__button {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    width: auto;
  }
}

.Product__name {
  margin-top: 0;
}

@media (min-width: 768px) {
  .Product__name {
    margin-bottom: 0;
  }
}

.Product__price {
  margin-bottom: 0;
}

.ProductItem__remove {
  border: 0;
  background-color: transparent;
  color: #282c34;
  font-style: italic;
  margin-top: 1rem;
  padding: 0;
}

@media (min-width: 768px) {
  .ProductItem__remove {
    margin-top: 0;
  }
}